@use "../../../../styles.scss" as *;

.chapter-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.10);
    text-align: center;
    height: 150px;
    position: relative;
    &:hover{
        box-shadow: none;
    }
    .chapter-level{
        position: absolute;
        margin: 0;
        background-color: $green-idg;
        border-radius: 10px;
        padding: 5px 10px;
        font-weight: 500;
        color: #ffffff;
    }
    .content{
        padding: 25px 0;
        position: relative;
        .order{
            font-size: 13px;
            font-weight: 500;
            color: $color-text;
            margin-bottom: 18px;
        }
        h3, h4{
            margin: 0;
        }
        h3{
            font-size: 20px;
            font-weight: 500;
            color: $green-idg;
        }
        h4{
            font-family: 'Stolzl', sans-serif;
            font-weight: 200;
            color: $color-text;
        }
    }


}