<main class="container">
    <h1>Modifier le chapitre</h1>

    <div *ngIf="adminChapter$ | async as chapter" class="chapter-edit">
        <form *ngIf="chapterForm" [formGroup]="chapterForm" (ngSubmit)="onSubmit()">

            <!-- Infos du chapitre -->
            <div class="general">
                <h2>Informations générales du chapitre</h2>
                <mat-form-field appearance="fill">
                    <mat-label>Titre en gallo</mat-label>
                    <input matInput type="text" formControlName="title">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Titre en français</mat-label>
                    <input matInput type="text" formControlName="title_fr">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput rows="4" formControlName="abstract"></textarea>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Niveau</mat-label>
                    <select matNativeControl formControlName="level">
                        <option *ngFor="let level of levels" [value]="level.title">
                            {{ level.title }}
                        </option>
                    </select>
                </mat-form-field>
            </div>

            <!-- Création d'une page  -->
             <section formArrayName="pages">
                <h2>Contenu du chapitre</h2>
                <div 
                *ngFor="let page of pages.controls; let i=index" 
                [formGroupName]="i"
                class="page"
                >
                    <div class="header-page">
                        <button
                            (click)="removePage(i)"
                            mat-icon-button
                            type="button">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <h3>Page {{ i + 1 }}</h3>
                    </div>

                    <div class="content-page">
                    
                    <mat-form-field appearance="fill">
                        <mat-label>Type</mat-label>
                        <mat-select formControlName="type">
                            <mat-option value="LESSON">Leçon</mat-option>
                            <mat-option value="EXERCISE">Exercice</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- Page leçon -->
                    <div *ngIf="page.get('type')?.value === 'LESSON'" formGroupName="lesson">
                        <mat-form-field appearance="fill">
                            <mat-label>Titre</mat-label>
                            <input matInput type="text" formControlName="title">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Contenu</mat-label>
                            <textarea matInput rows="10" formControlName="content"></textarea>
                        </mat-form-field>
                    </div>

                    <!-- Page Exercice -->
                    <div *ngIf="page.get('type')?.value === 'EXERCISE'" formGroupName="exercise">
                        <mat-form-field appearance="fill">
                            <mat-label>Question</mat-label>
                            <input matInput type="text" formControlName="question">
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Type d'exercice</mat-label>
                            <mat-select formControlName="type">
                                <mat-option value="UNIQUE">Question à réponse unique</mat-option>
                                <mat-option value="PAIRS">Former des paires</mat-option>
                                <mat-option value="ORDER">Remettre une phrase dans l'ordre</mat-option>
                            </mat-select>
                        </mat-form-field>


                        <!-- Type UNIQUE -->
                         <div *ngIf="page.get('exercise.type')?.value === 'UNIQUE'">
                            <div formArrayName="uniqueResponses" class="page-exercise-responses">
                                <h4 class="header-options">Options</h4>

                                <div class="content-options">
                                    <!-- Bonne réponse -->
                                    <div *ngIf="getUniqueArray(i).controls.length > 0" [formGroupName]="0">
                                        <h4>Bonne réponse</h4>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Bonne réponse</mat-label>
                                            <input matInput formControlName="content" type="text">
                                        </mat-form-field>
                                    </div>

                                     <!-- Mauvaises réponses -->
                                    <h4>Mauvaises réponses</h4>

                                    <div *ngFor="let response of getUniqueArray(i).controls; let j = index">
                                        <ng-container *ngIf="j > 0">
                                            <div [formGroupName]="j" class="wrong-options">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Mauvaise réponse</mat-label>
                                                    <input matInput formControlName="content" type="text">
                                                </mat-form-field>

                                                <button type="button"
                                                        mat-icon-button
                                                        (click)="removeUniqueResponse(i, j)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                
                            </div>

                            <button 
                                type="button" 
                                mat-stroked-button 
                                (click)="addUniqueResponse(i)">
                                <mat-icon>add</mat-icon>
                                Ajouter une option
                            </button>
                         </div>

                         <!-- Type PAIRS -->
                        <div *ngIf="page.get('exercise.type')?.value === 'PAIRS'">
                            <div formArrayName="pairs">
                                <div 
                                    *ngFor="let pair of getPairsArray(i).controls; let j = index"
                                    [formGroupName]="j"
                                >
                                    <mat-form-field appearance="fill">
                                        <mat-label>Option</mat-label>
                                        <input matInput formControlName="content" type="text" placeholder="Option" />
                                    </mat-form-field>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Clé</mat-label>
                                        <input matInput formControlName="pair_key" type="text" placeholder="Clé" />
                                    </mat-form-field>

                                    <button type="button" mat-icon-button (click)="removePairs(i, j)">
                                        <mat-icon>delete</mat-icon>
                                    </button>


                                </div>
                            </div>

                            <button 
                                type="button" 
                                mat-stroked-button 
                                (click)="addPairs(i)">
                                <mat-icon>add</mat-icon>
                                Ajouter une option
                            </button>
                        </div>



                        <!-- Type ORDER -->
                        <div *ngIf="page.get('exercise.type')?.value === 'ORDER'">
                            <div class="page-exercise-responses">
                                <h4 class="header-options">Texte à ordonner</h4>
                                <div class="content-options">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Texte à ordonner (séparer chaque segment par ";")</mat-label>
                                        <textarea 
                                            matInput
                                            [formControl]="getOrderTextControl(i)"
                                            placeholder="Ex: Je vais;au marché;acheter des pommes"></textarea>
                                    </mat-form-field>
                                </div>
                                
                            </div>
                        </div>

                        <mat-form-field appearance="fill" class="feedback-field">
                            <mat-label>Feedback</mat-label>
                            <textarea matInput rows="10" formControlName="feedback" placeholder="Le texte qui sera affiché en cas de mauvaise réponse de la part de l'utilisateur. Le feedback doit contenir la bonne réponse ainsi qu'une courte explication"></textarea>
                        </mat-form-field>
                     </div>
                    </div>
                </div>

                <button
                    (click)="addPage()"
                    mat-stroked-button
                    color="primary"
                    type="button">
                    <mat-icon>add</mat-icon>Ajouter une page
                </button>
             </section>


            <!-- Actions -->
            <div class="actions">
                <button mat-raised-button color="primary" type="submit" id="btn-save">
                    Enregistrer
                </button>
                <a href="/admin/chapters" class="btn-delete">Annuler</a>
            </div>

        </form>
    </div>

</main>