@use '../../../../styles.scss' as *;

h1{
    margin-bottom: 50px;
}

.general{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    
}

h2{
    color: $color-text;
    margin-bottom: 20px;
    font-size: 18px;
}

mat-form-field{
    width: 100%;
}

.actions{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    margin-top: 20px;
    button, a{
        display: inline-block;

    }
}

#btn-save{
    color: white;
    --mdc-theme-on-primary: white;        
}

.page{
    background-color: rgb(255, 255, 255);
    margin: 30px 0;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
}

.content-page{
    padding: 0 30px 30px 30px;
}

section{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;
}

.header-page{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: $color-text;
    border-radius: 10px 10px 0 0;
    color: #ffffff;
    padding: 10px 30px;
    h3{
        margin: 0;
        
    }
    button{
        background-color: #ffffff;
        color: #ea3e3e;
        margin-right: 20px;
    }

}

.page-exercise-responses{
    border: #d6d6d6 1px solid;
    
    border-radius: 10px;
    margin-bottom: 30px;
}

.content-options{
    padding: 15px 30px 30px 30px;
}

.header-options{
    background-color: #d6d6d6;
    border-radius: 10px 10px 0 0;
    padding: 5px 30px;
}
