@use '../../styles.scss' as *;

h1{
    margin-bottom: 30px;
}

h2{
    color: $color-text;
    text-align: center;
    margin-top: 50px;
}

img{
    max-width: 200px;
    display: flex;
    margin: auto;
}

p{
    text-align: center;
    max-width: 600px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}