<main class="container">
    <h1>Qui sommes-nous</h1>
    <p>L’Institut du Galo est l’organisme chargé de promotion et de transmission du gallo. Sa mission principale est de soutenir l’enseignement, la recherche et la valorisation, en collaboration avec les institutions,  associations et collectivités.</p>
    <p>Depuis sa création en 2017, l’Institut développe des outils pédagogiques, des ressources et des méthodes adaptées pour faciliter l’apprentissage du gallo, tout en accompagnant les enseignants et les formateurs. </p>
    <a href="https://institutdugalo.bzh" target="_blank">
        <img src="../../assets/logo600px.png" alt="Logo Institut du Galo">
    </a>

    <h2>Contact</h2>
    <p>contact@institutdugalo.bzh</p>
    <p>12 rue Texier<br>
    35000 Rennes</p>

</main>