@use '../../styles.scss' as *;

h1{
    line-height: normal;
    margin-top: 20px;
}

.btn-home{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
    a{
        margin: 5px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48%;
        height: 80px;
        border: none;
        font-weight: 500;
        font-family: 'Stolzl', sans-serif;
        color: $color-text;
        text-align: center;
    }
    #btn-login{
        color: white;
        --mdc-theme-on-primary: white;        
    }
}

@media screen and (min-width: 1000px){
    main{
        height: 90vh;
        padding-bottom: 0;
    }
    .homepage{
        h1{
            font-size: 80px!important;
            text-align: left;
            width: 35%;
            position: relative;
            z-index: 8;
        }
        .content{
            display: flex;
            flex-direction: row-reverse;
        }
        .img{
            width: 80%;
            margin-left: -200px;
            margin-right: -200px;
            margin-bottom: -10px;
            position: absolute;
            bottom: 0;
            // background-color: aqua;
        }
        .img img{
            width: 100%;
            height: 100%;
            margin-bottom: -5px;
            // background-color: blue;
        }
        .btns{
            width: 100%;
            z-index: 15;
            margin-top: 30px;
            // background-color: yellow;

        }
        .btn-home{
            // background-color: aliceblue;
            width: 500px;
            // display: flex;
            // flex-direction: column;
        }

    }

}

.link-to-admin{
    background-color: $color-text;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    div{
        color: #ffffff;
    }
    &:hover{
        cursor: pointer;
        background-color: #525252;
        div{
            color: #ffffffc0;
        }
    }
    
}