<main>
    <div class="container">
        <h1>Apprendre le gallo</h1>
    </div>

    <img src="../../assets/accueil-appli-02.svg" alt="">
    <div *ngIf="!auth.isLogged()" class="container btn-home">
        <a mat-raised-button color="primary" id="btn-login" routerLink="/auth/login">
            Se connecter
        </a>

        <a mat-raised-button routerLink="/chapters">
            Liste des chapitres
        </a>

    </div>

    <div *ngIf="auth.isLogged()" class="container btn-home">
        <a mat-raised-button color="primary" id="btn-login" routerLink="/dashboard">
            Tableau de bord
        </a>

        <a mat-raised-button routerLink="/chapters">
            Liste des chapitres
        </a>

    </div>

</main>


<router-outlet></router-outlet>