@use "../../../../styles.scss" as *;

.chapter-detail{
    min-height: 80vh;
    h2{
        font-weight: 200!important;
        color: $color-text;
        text-align: center;
    }
    .page-intro, .page-conclusion{
        height: 40vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        h1{
            line-height: normal;
        }
        .chapter-abstract{
            margin: 20px 0;
        }
    }
    .page-conclusion{
        text-align: center;
        h2{
            font-weight: 500!important;
            font-size: 30px;
        }
    }
    .contenu-chapitre{
        width: 100%;
        .chapter-title, .lesson-title, .question{
            font-weight: 500;
            text-align: center;
            margin-bottom: 30px;
        }
        h4{
            font-size: 22px;
        }
        form button{
            margin-top: 20px;
        }
        .pairs-list{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 12px;
            margin: 0;
            padding: 0;
            li{
                cursor: pointer;
                padding: 10px;
                border-radius: 8px;
                background-color: #eee;
                transition: 0.2s;
                list-style-type: none;
            }
            .selected{
                background-color: #cfe8ff;
            }
            .correct{
                background-color: #b9ffe1;
                pointer-events: none;
            }
            .wrong{
                background-color: #f9cbcb;
            }
        }
        .order-list{
            width: 300px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            button{
                margin-top: 30px;
            }
        }
        .order-item{
            padding: 12px;
            background-color: #e0e0e0;
            border-radius: 8px;
            cursor: grab;
        }
        .unique-response{
            display: flex;
            flex-direction: column;
            gap: 8px;
            .unique-response-item{
                padding: 12px;
                border: #e0e0e0 1px solid;
                border-radius: 8px;
            }
        }
        
        .cdk-drag-preview {
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        }

        .cdk-drag-placeholder {
            opacity: 0.3;
        }

    }
    .page, form, form > div{
        width: 100%;
    }
    .chapter-abstract{
        text-align: center;
        padding: 0 50px;
    }
    #btn-start, .btn-ex-next, .btn-validate, #btn-lesson-next, #btn-end{
        color: white;
        --mdc-theme-on-primary: white;
    }

    #btn-end{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        a{
            font-weight: 500;
            color: $green-idg;
            cursor: pointer;
        }
    }

}




.feedback{
    border-radius: 10px;
    border: 1px solid #e15151;
    background-color: #f9cbcb;
    padding: 15px;
    margin-top: 30px;
    h4{
        font-weight: 500;
        color: #e15151;
    }
}

.feedback-neg{
    border: 1px solid #e15151;
    background-color: #f9cbcb;
    h4{
        font-weight: 500;
        color: #e15151;
    }
}

.feedback-pos{
    border: 1px solid #04993d;
    background-color: #a7e6bf;
    h4{
        font-weight: 500;
        color: #04993d;
    }
}

.chapter-preview{
    width: 75%;
    height: 50vh;
    margin: 20px auto;
    padding: 50px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
}

.preview-title{
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    margin-top: 80px;

}