@use '../../../../styles.scss' as *;

.admin-list-chapters{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.actions{
    margin-top: 50px;
    a{
        margin-right: 20px;
    };
}

#btn-add-chapter{
    color: white;
    --mdc-theme-on-primary: white;        
}

#btn-edit-order{
    color: $color-text;     
}