.feedback{
    border-radius: 10px;
    border: 1px solid #e15151;
    background-color: #f9cbcb;
    padding: 15px;
    h4{
        font-weight: 500;
        color: #e15151;
    }
}

.page-intro, .page-conclusion{
    background-color: aqua;
}

.page{
    background-color: bisque;
    margin: 10px 0;
}