@use "../../../../styles.scss" as *;

.chapter-detail{
    min-height: 80vh;
    h2{
        font-weight: 200!important;
        color: $color-text;
        text-align: center;
    }
    .page-intro, .page-conclusion{
        min-height: 80vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .chapter-abstract{
            margin: 20px 0;
        }
    }
    .contenu-chapitre{
        width: 100%;
        .chapter-title, .lesson-title, .question{
            font-weight: 500;
            text-align: center;
            margin-bottom: 30px;
        }
        h4{
            font-size: 22px;
        }
        form button{
            margin-top: 20px;
        }

    }
    .page, form, form > div{
        width: 100%;
    }
    .chapter-abstract{
        text-align: center;
        padding: 0 50px;
    }
    #btn-start, .btn-ex-next, .btn-validate, #btn-lesson-next, #btn-end{
        color: white;
        --mdc-theme-on-primary: white;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        a{
            font-weight: 500;
            color: $green-idg;
            cursor: pointer;
        }
    }

}




.feedback{
    border-radius: 10px;
    border: 1px solid #e15151;
    background-color: #f9cbcb;
    padding: 15px;
    margin-top: 30px;
    h4{
        font-weight: 500;
        color: #e15151;
    }
}

.feedback-neg{
    border: 1px solid #e15151;
    background-color: #f9cbcb;
    h4{
        font-weight: 500;
        color: #e15151;
    }
}

.feedback-pos{
    border: 1px solid #04993d;
    background-color: #a7e6bf;
    h4{
        font-weight: 500;
        color: #04993d;
    }
}


