.sidenav-container {
  height: 100vh; // full height
}

.menu-sidenav {
  width: 250px;           // largeur du menu
  height: 100vh;          // full height
}
.header-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.spacer {
  flex: 1 1 auto;
}
mat-sidenav-content {
  margin-top: 64px; // hauteur toolbar
}

.mat-toolbar{
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.10);
}