@use '../../../../styles.scss' as *;

.sidenav-container {
  min-height: 75vh;
  height: 100%;
}

.menu-sidenav {
  width: 250px; 
  height: 100%;
  padding-top: 60px;
}
.header-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

}
.spacer {
  flex: 1 1 auto;
}
mat-sidenav-content {
  margin-top: 64px;
}

.mat-toolbar{
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.10);
    button{
      a{
        color: $green-idg;
      }
      
    }
    
}