<mat-toolbar class="header-toolbar">
    <a routerLink="/" mat-icon-button color="primary">
      <fa-icon [icon]="faHouse"></fa-icon>
    </a>

  <span class="spacer"></span>

  <!-- bouton menu -->
  <button mat-icon-button (click)="drawer.toggle()" color="primary">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
</mat-toolbar>

<!-- Sidenav -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="over" position="end" class="menu-sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/">Accueil</a>
      <a *ngIf="!auth.isLogged()" mat-list-item routerLink="/auth/login">Se connecter</a>
      <a mat-list-item routerLink="/chapters">Chapitres</a>
      <a *ngIf="auth.isLogged()" mat-list-item routerLink="/dashboard">Tableau de bord</a>
      <a *ngIf="auth.isLogged()" mat-list-item (click)="logout()">Se déconnecter</a>
      <a mat-list-item routerLink="/about">À propos</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

