@use '../../../../styles.scss' as *;

.dashboard{
    .hello-user{
        text-align: center;
        margin: 20px 0;
    }

    .last-chapter{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        background-color: $green-idg;
        padding: 30px 0 10px 0;
        border-radius: 10px;
        color: #ffffff;
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.20);
        &:hover{
            box-shadow: none;
        }
        h2{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        fa-icon{
            font-size: 40px;
            margin-bottom: 15px;
        }
    }
    .chapter-title{
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    mat-expansion-panel{
        margin: 10px 0;
    }
}