@use '../../../../styles.scss' as *;

.dashboard{
    .hello-user{
        text-align: center;
        margin: 20px 0;
    }

    .last-chapter{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        background-color: $green-idg;
        padding: 30px 0 10px 0;
        border-radius: 10px;
        color: #ffffff;
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.20);
        &:hover{
            box-shadow: none;
        }
        h2{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        fa-icon{
            font-size: 40px;
            margin-bottom: 15px;
        }
    }
    .chapter-title{
        width: 80%;
        display: flex;
        color: $color-text;
        fa-icon{
            width: 25px;
        }
    }
    mat-expansion-panel{
        margin: 10px 0;
    }
    .list-exercises div{
        padding: 8px 15px;
        border-radius: 8px;
        margin: 5px 0;
    }
    p {
        text-align: center;
        margin-top: 100px;
        a{
            color: $green-idg;
            font-weight: 500;
            &:hover{
                text-decoration: underline;
            }
        } 
    }
    .mat-expansion-panel a{
        margin-top: 10px;
        color: $color-text;
    }
}

.link-to-admin{
    background-color: $color-text;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    div{
        color: #ffffff;
    }
    &:hover{
        cursor: pointer;
        background-color: #525252;
        div{
            color: #ffffffc0;
        }
    }
    
}