<main class="container">

    <p>Bonjour, {{ user?.username }}</p>

    <div *ngIf="chapters.length > 0">
        <h2>Dernier chapitre commencé {{ chapters[0].title }}</h2>
        <p>{{ chapters[0].abstract }}</p>
    </div>

    <div *ngIf="loading">Chargement...</div>

    <table *ngIf="!loading && chapters.length > 0">
    <thead>
        <tr>
        <th>Chapitre</th>
        <th>Total Exos</th>
        <th>Réussis</th>
        <th>%</th>
        <th>Détails exercices</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let chapter of chapters">
        <td>{{ chapter.title }}</td>
        <td>{{ chapter.total }}</td>
        <td>{{ chapter.correct }}</td>
        <td>{{ chapter.percentage }}%</td>
        <td>
            <ul>
                <li *ngFor="let ex of chapter.exercises">
                    <span *ngIf="ex.status === 'correct'" style="color:green">✔ Réussi</span>
                    <span *ngIf="ex.status === 'raté'" style="color:red">✖ Raté</span>
                    <span *ngIf="ex.status === 'non fait'" style="color:gray">⚪ Non fait</span>
                </li>
            </ul>
        </td>
        </tr>
    </tbody>
    </table>

    <div *ngIf="!loading && chapters.length === 0">
    Aucun chapitre complété pour le moment.
    </div>
</main>