@use '../../styles.scss' as *;

h1{
    font-size: 100px!important;
    margin-top: 50px;
    color: $green-idg;
}

p{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

img{
    width: 80%;
    margin-top: 30px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}