<main class="container">
    <h1>Se connecter</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>

        <div class="action-buttons">
            <button mat-raised-button id="btn-login" color="primary" type="submit" [disabled]="loginForm.invalid || loading">
                Se connecter
            </button>
        </div>

        </form>

    <p class="login-infos">
        Vous ne possédez pas de compte ?<br />
        <a routerLink="/register">Créer un compte</a>
    </p>


    

</main>