@use '../../../../styles.scss' as *;

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    .form-group{
        display: flex;
        flex-direction: column;
        input{
            border: none;
            border-radius: 5px;
        }
    }
    
}

.login-infos{
    margin-top: 50px;
    text-align: center;
    a{
        color: $green-idg;
        font-weight: 500;
        &:hover{
            text-decoration: underline;
        }
    }
}

#btn-login{
    color: white;
    --mdc-theme-on-primary: white;
    width: 100%;  
}
