@use '../../../../styles.scss' as *;

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    .form-group{
        display: flex;
        flex-direction: column;

    }
    
}

.login-infos{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 100px;
    a{
        color: $green-idg;
        font-weight: 500;
        &:hover{
            text-decoration: underline;
        }
    }
}

#btn-login{
    color: white;
    --mdc-theme-on-primary: white;
    width: 100%;  
}

#btn-logout{
    color: white;
    --mdc-theme-on-primary: white;
    background-color: #ff0000;
}

.is-logged{
    text-align: center;
    margin: 50px 0;
    
}