footer{
    background-color: #16BAAD;
    color: white;
    text-align: center;
    padding: 20px 0;
    a{
        color: #ffffff;
        &:hover{
            text-decoration: underline;
        }
    }
    p, a{
        color: #ffffff;
        line-height: normal;
    }
}