@use '../../../../styles.scss' as *;

#btn-register {
    color: white;
    --mdc-theme-on-primary: white;
    width: 100%;  
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    .form-group{
        display: flex;
        flex-direction: column;

    }
    
}

.register-infos{
    margin-top: 50px;
    text-align: center;
    a{
        color: $green-idg;
        font-weight: 500;
        &:hover{
            text-decoration: underline;
        }
    }
}