<main class="container">

  <h1>Créer un compte</h1>

    <div *ngIf="auth.isLogged()" class="is-logged">
        <p>Vous êtes déjà inscrit·e</p>
        <button (click)="logout()" mat-raised-button id="btn-logout">Se déconnecter</button>
    </div>

    <div *ngIf="!auth.isLogged()">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <p>Email</p>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
                    Email invalide
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirmer l'email</mat-label>
                <input matInput placeholder="Confirmer email" formControlName="confirmEmail">
                <mat-error *ngIf="registerForm.get('confirmEmail')?.hasError('mismatch')">
                    Les emails ne correspondent pas
                </mat-error>
            </mat-form-field>

            <hr>

            <p>Mot de passe</p>
            <mat-form-field appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password" placeholder="Mot de passe" formControlName="password">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirmer le mot de passe</mat-label>
                <input matInput type="password" placeholder="Confirmer mot de passe" formControlName="confirmPassword">
                <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('mismatch')">
                    Les mots de passe ne correspondent pas
                </mat-error>
            </mat-form-field>

            <hr>

            <p>Nom d'utilisateur</p>
            <mat-form-field appearance="outline">
                <mat-label>Nom d'utilisateur</mat-label>
                <input matInput placeholder="Nom d'utilisateur" formControlName="username">
                <mat-error *ngIf="registerForm.get('username')?.hasError('minlength')">
                    Le nom d'utilisateur doit contenir au moins 3 caractères
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" id="btn-register" type="submit">
                S'inscrire
            </button>

        </form>

        <p class="register-infos">
            Vous possédez déjà un compte ?<br />
            <a routerLink="/auth/login">Se connecter</a>
        </p>


    </div>

  

</main>